/* Add your code in each class */
body {
  background-color: rgb(41, 13, 66);
}
.container {
  position: relative;
}
.movie-card {
  border: 30px;
  margin: 200px 500px;
  padding: 10px;
}
.movie-image {
  height: 400px;
  -webkit-box-shadow: -10px 0px 13px -7px;
}
.movie-details-container {
  border: 30px;
  margin: 200px 500px;
  padding: 10px;
}

.descriptions {
  position: absolute;
  top: 35%;
  left: 41%;
  font-size: 16px;
  color: aliceblue;
}

/*A gift from us!*/
.movie-shadow {
  /*
    This gradient was made by this website https://cssgradient.io/
*/
  position: absolute;
  height: 100%;
  width: 100%;
  background: rgb(0, 0, 0);
  background: linear-gradient(
    0deg,
    rgba(0, 0, 0, 0.75) 0%,
    rgba(0, 0, 0, 0) 100%
  );
}
.movie-title {
  font-weight: 700;
}
